.menu-bar2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkorange-400);
  width: 1441px;
  height: 85px;
}
.about-link2 {
  position: absolute;
  left: 1246px;
  font-weight: 600;
  cursor: pointer;
}
.about-link2,
.contactus-link2,
.payment-link1 {
  text-decoration: none;
  top: 32px;
  color: inherit;
}
.payment-link1 {
  position: absolute;
  left: 950px;
  font-weight: 600;
}
.contactus-link2 {
  left: 1090px;
  cursor: pointer;
}
.admin-dashboard,
.contactus-link2,
.logout-link2 {
  position: absolute;
  font-weight: 600;
}
.logout-link2 {
  text-decoration: none;
  top: 32px;
  left: 1346px;
  color: inherit;
}
.admin-dashboard {
  top: 117px;
  left: calc(50% - 193px);
  font-size: var(--font-size-29xl);
}
.file-selected-btn {
  position: absolute;
  top: 77px;
  left: 24px;
  border-radius: var(--br-3xs);
  background-color: rgba(232, 232, 232, 0.41);
  width: 133px;
  height: 40px;
  overflow: hidden;
}
.upload {
  position: absolute;
  top: -2px;
  left: 40px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-koho);
  color: var(--color-black);
  text-align: left;
}
.file-01-1-icon,
.upload-btn {
  position: absolute;
  width: 156px;
}
.upload-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  top: 124px;
  left: 14px;
  border-radius: var(--br-41xl);
  height: 29px;
  overflow: hidden;
}
.file-01-1-icon {
  top: 0;
  left: 9px;
  height: 156px;
  object-fit: cover;
}
.upload-file1 {
  position: absolute;
  top: 227px;
  left: 224px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange-700);
  width: 183px;
  height: 155px;
  overflow: hidden;
}
.database1 {
  position: absolute;
  top: 88px;
  left: 18px;
  font-weight: 600;
}
.dbbb-01-1-icon {
  position: absolute;
  top: 43px;
  left: 41px;
  width: 452px;
  height: 406px;
  object-fit: cover;
}
.database,
.dbbb-01-1-wrapper {
  position: absolute;
  top: -43px;
  left: -41px;
  width: 267px;
  height: 219px;
  overflow: hidden;
}
.database {
  top: 463px;
  left: 411px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange-700);
  width: 183px;
  height: 155px;
  font-size: var(--font-size-17xl);
}
.cameras {
  position: absolute;
  top: 79px;
  left: 30px;
  font-weight: 600;
}
.cctv-01-1-icon {
  position: absolute;
  top: 61px;
  left: 29px;
  width: 287px;
  height: 229px;
  object-fit: cover;
}
.camears,
.cctv-01-1-wrapper {
  position: absolute;
  top: -61px;
  left: -29px;
  width: 225px;
  height: 163px;
  overflow: hidden;
}
.camears {
  top: 463px;
  left: 840px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange-700);
  width: 183px;
  height: 155px;
  font-size: var(--font-size-17xl);
}
.reports {
  position: absolute;
  top: 93px;
  left: 37px;
  font-weight: 600;
}
.report-01-1-icon {
  position: absolute;
  top: 43px;
  left: 42px;
  width: 512px;
  height: 512px;
  object-fit: cover;
}
.report,
.report-01-1-wrapper {
  position: absolute;
  top: -43px;
  left: -42px;
  width: 268px;
  height: 230px;
  overflow: hidden;
}
.report {
  top: 227px;
  left: 636px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange-700);
  width: 183px;
  height: 155px;
  font-size: var(--font-size-17xl);
}
.activities {
  position: absolute;
  top: 83px;
  left: 18px;
  font-weight: 600;
}
.activity-01-1-icon {
  position: absolute;
  top: -164px;
  left: 17px;
  width: 224px;
  height: 224px;
  object-fit: cover;
}
.pic,
.user-activity {
  position: absolute;
  top: 164px;
  left: -17px;
  width: 220px;
  height: 220px;
  overflow: hidden;
}
.user-activity {
  top: 227px;
  left: 1030px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange-700);
  width: 183px;
  height: 155px;
  font-size: var(--font-size-17xl);
}
.bg-image-icon3 {
  position: absolute;
  top: 85px;
  left: 1px;
  width: 1440px;
  height: 628px;
  object-fit: cover;
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 100%;
  width: 83.03%;
  top: -99.63%;
  right: 100.11%;
  bottom: 99.63%;
  left: -83.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon5 {
  height: 82.51%;
  width: 26.97%;
  top: -90.8%;
  right: 173.14%;
  bottom: 108.3%;
  left: -100.11%;
}
.object2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 90.64%;
  width: 67.91%;
  top: 98.64%;
  right: -41.15%;
  bottom: -89.28%;
  left: 73.24%;
  transform: rotate(179.78deg);
  transform-origin: 0 0;
}
.back-btn1 {
  position: absolute;
  top: 24px;
  left: 29px;
  width: 58px;
  height: 25px;
  overflow: hidden;
}
.upload-file {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 713px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-koho);
}
.alert,
.are-you-sure,
.yes {
  position: absolute;
  font-weight: 600;
}
.alert {
  top: -3px;
  left: calc(50% - 35px);
}
.are-you-sure,
.yes {
  font-size: var(--font-size-xl);
}
.are-you-sure {
  top: 45px;
  left: calc(50% - 125px);
}
.yes {
  top: -1px;
  left: 10.5px;
  font-family: var(--font-koho);
  color: var(--color-white);
  text-align: left;
}
.ok-button-yes {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkorange-100);
  position: absolute;
  top: 102px;
  left: calc(50% - 92px);
  border-radius: var(--br-51xl);
  width: 50px;
  height: 25px;
  overflow: hidden;
}
.no {
  position: absolute;
  top: -3px;
  left: 12.5px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-koho);
  color: var(--color-white);
  text-align: left;
}
.ok-button-no {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkorange-100);
  position: absolute;
  top: 102px;
  left: calc(50% + 49px);
  border-radius: var(--br-51xl);
  width: 50px;
  height: 25px;
  overflow: hidden;
}
.alert-popup,
.popup-frame {
  position: relative;
  overflow: hidden;
}
.popup-frame {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 387px;
  height: 133px;
  flex-shrink: 0;
}
.alert-popup {
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange-100);
  width: 404px;
  height: 149px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkorange-400);
  font-family: var(--font-koho);
}
