<!DOCTYPE html>
<html>
  <head>
  	<title>Sign Up Page</title>
  	<link rel="stylesheet" href="/static/signupstyle.css"/>
    <meta name="viewport" content="initial-scale=1, width=100%" />
 </head>
<body > 
        <div class="reactanglediv">
         <h1>Welcome </h1>
         <p>Lets Get Started</p>
         <form class="signup" method='POST'>
        </div>
           <input  class="email-input" type="email" name="email" required="" placeholder="enter your email"><br/><br/><br>
           <input class="pwrd-input" type="password" name="password" required="" placeholder="enter your password"><br/><br/><br>
           <input  class="vehicletype-input" type="text" name="vehicle" required="" placeholder="enter your vehicle name"><br/><br/><br>
           <input  class="cellno-input" type="text" name="phone-no" required="" placeholder="enter your phone number"><br/><br>
           <button class="signup-btn" type="submit" href="/loginPage">Sign up</button>
           <h5>Already have an account? <a href="/loginPage">Sign In</a></h5>
         </form>
         </div>
</body>
</html>